#include <windows.h>
#include <commctrl.h>


#ifdef _WIN32
LANGUAGE 0x09, SUBLANG_DEFAULT
#pragma code_page(1252)
#endif


12017 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"Helv",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	EDITTEXT	301,86,81,227,12,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP
	LTEXT		"Field 1:",719,17,84,67,8
	LTEXT		"This text is modifed by the 'szMsg' parameter.  You can reposition controls in this dialog and add static text fields.",711,17,40,298,33,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"",712,17,163,298,18,ES_AUTOHSCROLL | SS_NOPREFIX
	PUSHBUTTON	"< &Back",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,215,196,50,14
	PUSHBUTTON	"Cancel",9,272,196,50,14
	LTEXT		"@10550,10551;1;0;;0,128,128",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,289,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Edit Data",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Enter requested data.",51,17,15,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


12018 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"Helv",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"Field 1:",719,17,84,67,8
	EDITTEXT	301,84,81,231,12,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP
	LTEXT		"Field 2:",720,17,116,67,8
	EDITTEXT	302,84,113,231,12,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP
	LTEXT		"This text is modifed by the 'szMsg' parameter.  You can reposition controls in this dialog and add static text fields.",711,17,40,298,33,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"",712,17,163,298,18,ES_AUTOHSCROLL | SS_NOPREFIX
	PUSHBUTTON	"< &Back",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,215,196,50,14
	PUSHBUTTON	"Cancel",9,272,196,50,14
	LTEXT		"@10550,10551;1;0;;0,128,128",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,289,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Edit Data",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Enter requested data.",51,17,15,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


